
:root{
    --bg-color: rgb(244, 244, 149); 
    --dark: rgb(16, 16, 13);
    --light: #fff;
}
    *{
    padding: 0;
    margin: 0;
}

body{
    color: var(--dark);
    background-color: var(--dark);
}
h1{
    font-size: 2.8rem;
    text-align: center;
}
p, label{
    font-size: 1.13rem;
    line-height: 1.5;
    font-weight: 300;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid var(--light);
}

@media (max-width: 55em)
{
    header{
        display: none;
    }
    footer{
        display: none;
    }
}
header.dark-theme{
    border-bottom: 3px solid var(--light);
}
header.light-theme{
    border-bottom: 3px solid var(--dark);
}
button{
    cursor:pointer;
    padding: .6rem 0;
    border-radius: 5px;
    font-size: .9rem;
    font-weight: 700;
}

.dark-theme{
    background-color: var(--dark);
    color: var(--light)
}
.light-theme{
    background-color: var(--light);
    color: var(--dark);
}
.left{
    display: flex;
    gap: 12px;
}
.logo{
    width: 50px;
    height: 50px;
}
.game-display{
    display: flex;
    flex-direction: column;
    color: var(--light);
    justify-content: center;
    width: 1000px;
    max-width: 100%;
    margin-inline: auto;
    height: 100vh;
}
.input-form{
    margin-top: 15rem;
    margin-inline: auto;
    display: grid;
    gap: 3rem;
    place-items: center;
    background-color: rgb(243, 241, 207);
    outline: 3px solid rgb(166, 160, 54);
    border-radius: 20px;
    padding: 5rem 0;
    max-width: 1000px;
    width: 100%;
}
@media (max-width: 55em)
{
    .input-form{
        margin-top: 5rem;
    }
}

.title{
    margin-top: 3rem;
    padding-bottom: 1.2rem;
}
.input-form input[type="text"]{
    border-radius: 5px;
    border: 1px solid green;
    padding: 8px 6px;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(45, 45, 45);
    width: 100%;
    box-sizing: border-box;
}

.input-form .even-rows{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    width: 100%;
}

.btn-levels-group{
    border: 1px solid green;
    display: grid;
    grid-template-columns: repeat(4, minmax(180px, 1fr));
    gap: 10px;
}
.btn-level-container{
    background-color: white;
    border: 1px solid blue;
}
.btn-level{
    font-size: 1.3rem;
    padding-bottom: 12px 6px;
    width: 100%;
    height: 200px;
    background-color: rgba(231, 229, 223, 0.7);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 760px)
{
    .btn-levels-group{
        grid-template-columns: 1fr;
        gap: 10px;
        width: 80%;
    }
    .btn-level{
        height: 100px;
    }
}
.highScore-container{
    display: grid;
    grid-template-columns: 150px 100px;
    padding-right: 8px;
    gap: .8rem;
}

.display-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    background-color: none;
}
@media only screen and (max-width: 600px){
    .display-cards{
        justify-content: center;
    }
}

.cards{
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8rem;

    border: none;
    border-radius: 12px;
    width: 200px;
    height: 200px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.cards:hover, .cards:focus{
    transform: scale(1.05);
    border: var(--dark) 3px solid;
}
.pokemon-card{
    width: 150px;
    height: 150px;
}
.pokemon-name{
    font-size: 1rem;
    line-height: 1.5;
    text-transform: capitalize;
}

.score-board{
    display: flex;
    justify-content: space-around;
    border: none;
    border-radius: 5px;
    background-color: lightgray;
    color: var(--dark);
    margin-top: 3rem;
    width: 300px;
    margin-inline: auto;
    align-items: center;

    box-shadow: 1px 2px 3px 3px rgba(231, 229, 223, 0.3);


}
.score-board p{
    color: var(--dark);
    font-size: 1.2rem;
    padding: .8rem 1.2rem;
}

.message-board{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(255, 217, 0);
    max-width: 500px;
    width: 100%;
    margin-inline: auto;
    background-color: var(--light);
    border-radius: 12px;
}
.message-board h2{
    color: var(--dark);
    text-align: center;
    padding: 1.2rem 0;
}
.message-board p{
    text-align: center;
    padding-bottom: 1.2rem;
}
.buttons-group{
    display: flex;
    gap: 12px;
    justify-content: center;
    padding-bottom: 1.5rem;
}
#again{
    color: white;
    background-color: blue;
}
#again:hover, #again:active{
    color: black;
    background-color: rgba(0, 0, 255, 0.3);
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 3px solid;
}
footer.dark-theme{
    border-color: var(--light);
}
footer.light-theme{
    border-color: var(--dark);
}
footer > .container{
    max-width: 1000px;
    width: 100%;
    margin-inline: auto;
}

footer > .container > ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem 0;
}

footer > .container > ul > li{
    font-size: 1rem;
}

/* Toggle Button for Dark and White Background */

