
:root{
    --bg-color: rgb(244, 244, 149); 
    --dark: rgb(16, 16, 13);
    --light: #fff;
}
    *{
    padding: 0;
    margin: 0;
}

body{
    color: var(--dark);
    background-color: var(--dark);
}
h1{
    font-size: 2.8rem;
    text-align: center;
}
p{
    font-size: 1.13rem;
    line-height: 1.5;
    font-weight: 300;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    background-color: var(--dark);
    border-bottom: 3px solid var(--light);
    color: var(--light);
}
button{
    cursor:pointer;
    width: 100px;
    padding: .6rem 0;
    background-color: rgb(74, 53, 229);
    border: none;
    border-radius: 5px;
    font-size: .9rem;
    font-weight: 700;
    box-shadow: 0px 2px 1px 1px rgb(99, 99, 42);
    color: var(--light);
    transition: background-color .5s ease-out 0.25s, color .5s ease-out 0.25s;
}
.game-display{
    display: flex;
    flex-direction: column;
    color: var(--light);
    justify-content: center;
    width: 1000px;
    max-width: 100%;
    margin-inline: auto;
    height: 100vh;
}
.input-form{
    margin-top: 15rem;
    margin-inline: auto;
    display: grid;
    place-items: center;
    background-color: rgb(243, 241, 207);
    max-width: 500px;
    width: 100%;
    border: 3px solid rgb(166, 160, 54);
    border-radius: 20px;
    width: 100%;
    padding: 2rem 0;
}

.title{
    margin-top: 3rem;
    padding-bottom: 1.2rem;
}

.input-form button{
    font-size: 1.3rem;
    width: 100px;
    padding-bottom: 12px 6px;
    justify-self: center;
}

.input-form input[type="text"]{
    border-radius: 5px;
    border: 1px solid green;
    padding: 8px 6px;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(45, 45, 45);
    width: 100%;
    box-sizing: border-box;
}

label{
    font-size: 1.2rem;
}
.input-form input[type="radio"]{
    margin-right: .6rem;
    color: rgb(45,45,45);
}

.input-form .grid-single-row{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 1.2rem;
}
.input-form .even-rows{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    width: 100%;
}
.level-container{
    display: grid;
    gap: 3px;
    padding-bottom: 2rem;
}
.level-items{
    text-transform: capitalize;
    font-size: .99rem;
}
.highScore-container{
    display: grid;
    grid-template-columns: 150px 100px;
    padding-right: 8px;
    gap: .8rem;
}

.display-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    background-color: none;
}
@media only screen and (max-width: 600px){
    .display-cards{
        justify-content: center;
    }
}

.cards{
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8rem;

    border: none;
    border-radius: 12px;
    width: 200px;
    height: 200px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.cards:hover, .cards:focus{
    transform: scale(1.05);
    border: var(--dark) 3px solid;
}
.pokemon-card{
    width: 150px;
    height: 150px;
}
.pokemon-name{
    font-size: 1rem;
    line-height: 1.5;
    text-transform: capitalize;
}

.score-board{
    display: flex;
    justify-content: space-around;
    border: none;
    border-radius: 5px;
    background-color: lightgray;
    color: var(--dark);
    margin-top: 3rem;
    width: 300px;
    margin-inline: auto;
    align-items: center;

    box-shadow: 1px 2px 3px 3px rgba(231, 229, 223, 0.3);


}
.score-board p{
    color: var(--dark);
    font-size: 1.2rem;
    padding: .8rem 1.2rem;
}

.message-board{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(255, 217, 0);
    max-width: 500px;
    width: 100%;
    margin-inline: auto;
    background-color: var(--light);
    border-radius: 12px;
}
.message-board h2{
    color: var(--dark);
    text-align: center;
    padding: 1.2rem 0;
}
.message-board p{
    text-align: center;
    padding-bottom: 1.2rem;
}
.buttons-group{
    display: flex;
    gap: 12px;
    justify-content: center;
    padding-bottom: 1.5rem;
}
#again{
    color: white;
    background-color: blue;
}
#again:hover, #again:active{
    color: black;
    background-color: rgba(0, 0, 255, 0.3);
}

footer{
    background-color: var(--dark);
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 3px solid var(--light);
}
footer > .container{
    color: var(--light);
    max-width: 1000px;
    width: 100%;
    margin-inline: auto;
}

footer > .container > ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem 0;
}

footer > .container > ul > li{
    font-size: 1rem;
}