*{
    padding: 0;
    margin: 0;
}

body{
    background: rgb(244, 244, 149);
    color: black;
}
h1{
    font-size: 2.8rem;
    margin-top: 3rem;
    text-align: center;
}

.display-cards{
    margin-top: 3rem;
    margin-inline: auto;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8rem;

    border: 2px solid lightgray;
    border-radius: 12px;
    width: 200px;
    height: 200px;

    cursor: pointer;
}

.pokemon-card{
    width: 150px;
    height: 150px;
}
.pokemon-name{
    font-size: 1rem;
    line-height: 1.5;
    text-transform: capitalize;
}